@font-face {
    font-family: QuickKiss;
    src: url(/MISC/QuickKissPersonalUse-PxlZ.ttf);
}

.recipe_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;

    /* Default grid-template-areas */
    grid-template-areas:
        "h h"
        "i i"
        "u u"
        "p p";
}

.recipe_container h2 {
    grid-area: h;
    font-family: QuickKiss;
    font-size: 2em;
    font-weight: 100;
    
}

.recipe_container p {
    grid-area: p;
}

.recipe_container ul { 
    grid-area: u;
}
.recipe_container li {
 margin-left: 1em;
}
.recipe_container img {
    grid-area: i;
}

/* Responsive grid for screens wider than 600px */
@media (min-width: 768px) {
    .recipe_container {
        grid-template-areas:
            "h h"
            "u i"
            "p p";
    }
}

